export TESTS_SERVER_ADDRESS_LOCAL="http://localhost:8081"
export TESTS_SERVER_ADDRESS_STAGING="https://lava.xyz"
export TESTS_SERVER_ADDRESS_TESTNET="https://lava.xyz"
export TESTS_SERVER_ADDRESS_MAINNET="https://lava.xyz"
